@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in.visible {
  opacity: 1;
}

/* Slide-up animation */
.slide-up {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.6s ease-in, opacity 0.6s ease-in;
}

.slide-up.visible {
  transform: translateY(0);
  opacity: 1;
}

/* Scale-up animation */
.scale-up {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.6s ease-in, opacity 0.6s ease-in;
}

.scale-up.visible {
  transform: scale(1);
  opacity: 1;
}

/* Rotate animation */
.rotate {
  transform: rotate(-10deg);
  opacity: 0;
  transition: transform 0.6s ease-in, opacity 0.6s ease-in;
}

.rotate.visible {
  transform: rotate(0);
  opacity: 1;
}

/* Zoom-in animation */
.zoom-in {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.6s ease-in, opacity 0.6s ease-in;
}

.zoom-in.visible {
  transform: scale(1);
  opacity: 1;
}

/* Fade-up animation */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Bounce animation */
.bounce {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.bounce.visible {
  opacity: 1;
  transform: translateY(0);
  animation: bounce 1s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
